.add-task-view .conf-str {
    font-style:italic;
    margin-left: 10px;
    color: #dcdfe6;
}

.add-task-view .input-add-proxy, .add-task-view .input-add-ignored-errno {
    width: 120px;
    *margin-left: 10px;
    height: 24px;
    vertical-align: top;
}

.add-task-view .el-tag + .el-tag {
    margin-left: 5px;
}

.add-task-view .button-add-proxy, .add-task-view .button-add-ignored-errno {
    *margin-left: 10px;
    height: 24px;
    padding-top: 0;
    padding-bottom: 0;
}

.add-task-view .button-add-proxy span, .add-task-view .button-add-ignored-errno span  {
    line-height: 12px!important;
}