main button .fa-icon {
  width: auto;
  height: 1em;
  max-width: 100%;
  max-height: 100%;
}

.el-progress__text {
  display: none !important;
}

.el-progress-bar {
  padding-right: 0 !important;
}

.progress-indicator {
  vertical-align: sub !important;

  .fa-icon {
    margin-bottom: -2px;
  }
}

.el-progress.is-paused .el-progress-bar__inner {
  background-color: #909399;
}

.progress-indicator {
  .fa-icon.paused {
    color: #909399;
  }

  .fa-icon.success {
    color: #67C23A;
  }

  .fa-icon.exception {
    color: #F56C6C;
  }

  .fa-icon.running {
    color: #409EFF;
  }

  .fa-icon.warning {
    color: #e6a23c;
  }
}

.el-popover {

  .main-title {
    font-size: 1.3em;
  }

  .sub-title {
    *font-style: italic;
    color: #909399;
  }

  .titles {
    margin: 0.3em 0 1em 0;
    border-bottom: 1px solid #eeeeee;
  }

  .el-tag {
    margin-right: 0.2em;
    margin-bottom: 0.2em;
  }

  img {
    border-radius: 4px;
    border: 1px solid hsla(220, 4%, 58%, .2);
  }

  .fa-icon {
    vertical-align: sub;
  }
}

.el-autocomplete.searchbox {
  width: 100%;
}
