.gallery-view {
    .el-dialog__wrapper {
        text-align: center;
    }
    .el-dialog__header {
        *display: none;
    }
    .el-dialog__body{
        padding: 0;
    }
    .el-dialog.is-fullscreen {
        background-color: rgba(0,0,0,0.4)!important;
    }
    .el-pagination button, .el-pagination li, .el-pagination__jump .el-input__inner {
        background: unset!important;
    }
    
    .el-pagination li:not(.active), .el-pagination button,
    .el-pagination__jump, .el-pagination__jump .el-input__inner,
    .el-checkbox__input:not(.is-checked)+.el-checkbox__label{
        color: #c0c4cc!important;
    }
    
    
    .el-pagination button.disabled {
        color: #303133!important;
    }
    .el-pagination__jump {
        *margin-left: 10px;
        *margin-right: 15px;
    }
    
    .el-pagination__jump .el-input__inner {
        height: 20px!important;
    }
    
    .el-dialog__header {
        padding: 0 15px 10px!important;
    }
    .el-dialog__body {
        padding:0 20px!important;
    }
    
    .image-wrapper {
        *box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
        position: absolute;
        height: 100%;
        width: 100%;
    }
    
    .image-wrapper img {
        max-height: 100%;
        max-width: 40%;
        *margin-top: 32px;
        margin: 0 3px;
    }

    .image-wrapper img.is-single-page {
        max-width: 80%;
    }
    
    .el-pagination {
        display: inline-block;
    }
    
    notusing.el-pagination:nth-child(2) {
        position: absolute;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
    
}
